body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}

form{
    background-color: #080808d3;
    width: 20rem;
    padding: 3rem;
    border-radius: 2rem;
}
.heading{
    display: flex;
    gap: 11.5rem;
    align-items: center;
}

.heading2{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.heading2 p{
    margin-top: -20px;
    color: white;
}

.heading2 h2{
   color: white;
}

.left-card{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
}
#phone{
    margin-left: -15px;
    width: 9.5rem;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

#mail{
    width: 8rem;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    padding-left: 2rem;
   
}
/* Style for the email button */
.email-button {
    background-color: purple;
    color: white;
    border: none;
    padding: 10px;
    padding-left: 60px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px ;
    font-size: 16px;
}

/* Style for the phone number button */
.phone-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

/* Style for the general div */
.button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}


#mail:focus{
    background-color: blue;
}

#phone:focus{
    background-color: blue;
}
    

form input{
    width: 18.2rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
}

.mag{
  text-align: center;
}



.bulb img{
    margin-top: -40spx;
}

.firstinput input:focus::-webkit-input-placeholder{
    color: white;
}

#password{
    float: right;
    margin-right: 1rem;
    margin-top: 0.5rem;
    color: white;
}

#firstp{
    font-size: 0.7rem;
 
}

#secondp{
    text-align: center;
    color: white;
}
#thirdp{
    text-align: center;
    color: white;
}

#myInput{
    padding-left: 1rem;
}
#btn{
    width: 19.5rem;
    background-color: rgb(193, 193, 204);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    height: 3rem;
    border-radius: 0.5rem;
}

.success-message{
    display: none;
    background-color: white;
    text-align: center;
    height: 8rem;
    padding-top: 1rem;
    margin-top: -7rem;
}

#btn2{
    width: 5rem;
    background-color: skyblue;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    height: 3rem;
    border-radius: 0.5rem;
}

.popup {
    width: 200px;
    background: #ebeaea;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top o.4s ;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1); 
}
.popup p{
    font-size: 20px;
    font-weight: 100;
    height: 7px;
}
.popup button{
    width: 50%;
    margin-top: 50px;
    padding: 10px 0;
    background: lightblue;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}
